[Desktop Entry]
Name=Arch-Update
Comment=An update notifier & applier for Arch Linux
Icon=arch-update-blue
Type=Application
Terminal=false
Exec=kitty --class floating-terminal -e /home/vhs/.config/hypr/scripts/install-updates.sh
Categories=Utility
